@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


.header{
    display: flex;
    height: 50px;
    /* border: px solid black; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.timer{
    display: grid;
    grid-template-rows: 75% 25%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
