@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
html{
    background-color: black;
}


.main-container{
    height: 100%;
  width: 100%;
  margin: 0;

    
}

.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    /* border: px solid black; */
    
    top: 0;
    justify-content: space-between;
    margin: auto;
    
}
.header-left{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-img > img{
    height: 50px;
    width: 50px;
    padding: 0px;
}
.header-name{
    color: white;
    justify-content: baseline;
    align-content: center;
    margin: auto;
}

.timer{
    margin: auto;
    display: grid;
    grid-template-rows: 5% 75% 20%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    color: white;
}

.timer-row-1{
    height: 20px;
}
.timer-row-2{
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
}
.timer-time{
    
    
    font-size: 40vh;
    justify-content: space-around;
    margin: auto;
    align: center;
}
.timer-controls{
    min-height: 15vh;
    display: grid;
    grid-template-columns: repeat(1fr,1fr,1fr);
    
}
.before-start{
    display: grid;
    grid-template-columns: repeat(1fr,1fr,1fr);
    justify-content: space-evenly;
    
}
.before-start > button{
    display: grid;
}
